<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Para-guardar-o-dataset-numa-BD-SQL,-utilizamos-a-library-sqlite3,-e-executamos-os-seguintes-códigos:" data-toc-modified-id="Para-guardar-o-dataset-numa-BD-SQL,-utilizamos-a-library-sqlite3,-e-executamos-os-seguintes-códigos:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Para guardar o dataset numa BD SQL, utilizamos a library sqlite3, e executamos os seguintes códigos:</a></span></li><li><span><a href="#Posteriormente,-para-selecionar-apenas-os-200-primeiros-registos-da-base-de-dados-préviamente-criada-e-já-com-a-coneção-efetuada:" data-toc-modified-id="Posteriormente,-para-selecionar-apenas-os-200-primeiros-registos-da-base-de-dados-préviamente-criada-e-já-com-a-coneção-efetuada:-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Posteriormente, para selecionar apenas os 200 primeiros registos da base de dados préviamente criada e já com a coneção efetuada:</a></span></li><li><span><a href="#Para-selecionar-todos-os-registos-dos-campos-id,-year,-month,-element,-value1,-value2,-value3,-value4,-value5,-value6,-value7,-value8,-value9,-value10,-value11,-value12,-value13,-value14,-value15,-value16,-value17,-value18,-value19,-value20,-value21,-value22,-value23,-value24,-value25,-value26,-value27,-value28,-value29,-value30,-value31-das-cinco-estações-meteorológicas-portuguesas-(Horta;-Funchal;-Lisboa;-Castelo-Branco-e-Faro)-que-existem-no-dataset,-corremos-a-seguinte-query:" data-toc-modified-id="Para-selecionar-todos-os-registos-dos-campos-id,-year,-month,-element,-value1,-value2,-value3,-value4,-value5,-value6,-value7,-value8,-value9,-value10,-value11,-value12,-value13,-value14,-value15,-value16,-value17,-value18,-value19,-value20,-value21,-value22,-value23,-value24,-value25,-value26,-value27,-value28,-value29,-value30,-value31-das-cinco-estações-meteorológicas-portuguesas-(Horta;-Funchal;-Lisboa;-Castelo-Branco-e-Faro)-que-existem-no-dataset,-corremos-a-seguinte-query:-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Para selecionar todos os registos dos campos id, year, month, element, value1, value2, value3, value4, value5, value6, value7, value8, value9, value10, value11, value12, value13, value14, value15, value16, value17, value18, value19, value20, value21, value22, value23, value24, value25, value26, value27, value28, value29, value30, value31 das cinco estações meteorológicas portuguesas (Horta; Funchal; Lisboa; Castelo Branco e Faro) que existem no dataset, corremos a seguinte query:</a></span></li><li><span><a href="#Substitua-os-ids-presentes-no-dataframe-pelo-correspondente-nome-da-estação-meteorológica." data-toc-modified-id="Substitua-os-ids-presentes-no-dataframe-pelo-correspondente-nome-da-estação-meteorológica.-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Substitua os ids presentes no dataframe pelo correspondente nome da estação meteorológica.</a></span></li><li><span><a href="#Aplique-as-funções-de-data-wrangling-e-de-compression-dos-dados-que-achar-adequadas." data-toc-modified-id="Aplique-as-funções-de-data-wrangling-e-de-compression-dos-dados-que-achar-adequadas.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Aplique as funções de data wrangling e de compression dos dados que achar adequadas.</a></span></li><li><span><a href="#Determine-a-percentagem-de-null-values-em-cada-uma-das-variáveis." data-toc-modified-id="Determine-a-percentagem-de-null-values-em-cada-uma-das-variáveis.-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Determine a percentagem de null values em cada uma das variáveis.</a></span></li><li><span><a href="#Crie-uma-nova-coluna-denominada-count_nan-que-registe-para-cada-observação-o-número-de-dias-com-temperaturas-máximas-nulas-(NaN)." data-toc-modified-id="Crie-uma-nova-coluna-denominada-count_nan-que-registe-para-cada-observação-o-número-de-dias-com-temperaturas-máximas-nulas-(NaN).-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Crie uma nova coluna denominada count_nan que registe para cada observação o número de dias com temperaturas máximas nulas (NaN).</a></span></li><li><span><a href="#Crie-um-novo-dataframe-que-considere-apenas-os-registos-com-um-valor-total-de-NaN-inferior-a-7." data-toc-modified-id="Crie-um-novo-dataframe-que-considere-apenas-os-registos-com-um-valor-total-de-NaN-inferior-a-7.-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Crie um novo dataframe que considere apenas os registos com um valor total de NaN inferior a 7.</a></span></li><li><span><a href="#Reccorra-agora-a-chunking-para-determinar-a-percentagem-de-null-values-em-cada-uma-das-variáveis-na-totalidade-dos-registos-do-dataframe." data-toc-modified-id="Reccorra-agora-a-chunking-para-determinar-a-percentagem-de-null-values-em-cada-uma-das-variáveis-na-totalidade-dos-registos-do-dataframe.-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Reccorra agora a chunking para determinar a percentagem de null values em cada uma das variáveis na totalidade dos registos do dataframe.</a></span></li><li><span><a href="#Determine-a-temperatura-média-para-cada-observação-(estação/ano/mês)-do-dataframe.-Guarde-os-valores-obtidos-numa-nova-coluna-denominada-daily_avg_temp.-Não-se-esqueça-de-considerar-apenas-as-colunas-cujo-nome-começa-por-value." data-toc-modified-id="Determine-a-temperatura-média-para-cada-observação-(estação/ano/mês)-do-dataframe.-Guarde-os-valores-obtidos-numa-nova-coluna-denominada-daily_avg_temp.-Não-se-esqueça-de-considerar-apenas-as-colunas-cujo-nome-começa-por-value.-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Determine a temperatura média para cada observação (estação/ano/mês) do dataframe. Guarde os valores obtidos numa nova coluna denominada daily_avg_temp. Não se esqueça de considerar apenas as colunas cujo nome começa por value.</a></span></li><li><span><a href="#Agrupe-os-dados-por-nome-de-estação-e-ano-aplicando-a-função-mean.-Mostre-apenas-os-resultados-para-a-coluna-daily_avg_temp." data-toc-modified-id="Agrupe-os-dados-por-nome-de-estação-e-ano-aplicando-a-função-mean.-Mostre-apenas-os-resultados-para-a-coluna-daily_avg_temp.-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Agrupe os dados por nome de estação e ano aplicando a função mean. Mostre apenas os resultados para a coluna daily_avg_temp.</a></span></li></ul></div>

In [43]:
# Importar Módulos
import pandas as pd
import sqlite3 as sql
import os

In [4]:
# Caminho e nome do ficheiro
patch='global_climate_data/'
file='ghcnd_daily.csv'

In [ ]:
#
if not os.path.exists(patch + file):
    chunk_size=50000
    chunk = pd.read_csv(patch + file,chunksize=chunk_size, low_memory=False)
    print(type(chunk))
    return

In [3]:
df = chunk.get_chunk(chunk_size)
df.head()

NameError: name 'chunk' is not defined

In [3]:
#
df.info()

NameError: name 'df' is not defined

### Para guardar o dataset numa BD SQL, utilizamos a library sqlite3, e executamos os seguintes códigos:

In [47]:
# Conexão ao ficheiro da BD
conn = sql.connect(patch + "ghcnd_daily.db")

In [ ]:
# Dividir em ficheiros mais pequenos, neste caso, com 300000 linhas
chunk_size=300000
batch_no=1
for chunk in pd.read_csv("global_climate_data/ghcnd_daily.csv",chunksize=chunk_size,iterator=True,low_memory=False):
    chunk.to_sql('ghcnd',conn, if_exists='append')
    batch_no+=1
    print('index: {}'.format(batch_no))

Houve tentativa de fazer com 500000, mas ficou muito lento a processar.

### Posteriormente, para selecionar apenas os 200 primeiros registos da base de dados préviamente criada e já com a coneção efetuada:

In [48]:
ghcnd = pd.read_sql('SELECT * FROM ghcnd LIMIT 200',conn)
ghcnd.head()

,index,id,year,month,element,value1,mflag1,qflag1,sflag1,value2,mflag2,qflag2,sflag2,value3,mflag3,qflag3,sflag3,value4,mflag4,qflag4,sflag4,value5,mflag5,qflag5,sflag5,value6,mflag6,qflag6,sflag6,value7,mflag7,qflag7,sflag7,value8,mflag8,qflag8,sflag8,value9,mflag9,qflag9,sflag9,value10,mflag10,qflag10,sflag10,value11,mflag11,qflag11,sflag11,value12,mflag12,qflag12,sflag12,value13,mflag13,qflag13,sflag13,value14,mflag14,qflag14,sflag14,value15,mflag15,qflag15,sflag15,value16,mflag16,qflag16,sflag16,value17,mflag17,qflag17,sflag17,value18,mflag18,qflag18,sflag18,value19,mflag19,qflag19,sflag19,value20,mflag20,qflag20,sflag20,value21,mflag21,qflag21,sflag21,value22,mflag22,qflag22,sflag22,value23,mflag23,qflag23,sflag23,value24,mflag24,qflag24,sflag24,value25,mflag25,qflag25,sflag25,value26,mflag26,qflag26,sflag26,value27,mflag27,qflag27,sflag27,value28,mflag28,qflag28,sflag28,value29,mflag29,qflag29,sflag29,value30,mflag30,qflag30,sflag30,value31,mflag31,qflag31,sflag31
0,0,ACW00011604,1949,1,TMAX,289,None,None,X,289,None,None,X,283,None,None,X,283,None,None,X,289,None,None,X,289,None,None,X,278,None,None,X,267,None,None,X,272,None,None,X,278,None,None,X,267,None,None,X,278,None,None,X,267,None,None,X,267,None,None,X,278,None,None,X,267,None,None,X,267,None,None,X,272,None,None,X,272,None,None,X,272,None,None,X,278,None,None,X,272,None,None,X,267,None,None,X,267,None,None,X,267,None,None,X,278,None,None,X,272,None,None,X,272,None,None,X,272,None,None,X,272,None,None,X,272,None,None,X
1,1,ACW00011604,1949,2,TMAX,267,None,None,X,278,None,None,X,272,None,None,X,267,None,None,X,278,None,None,X,278,None,None,X,278,None,None,X,267,None,None,X,278,None,None,X,267,None,None,X,272,None,None,X,267,None,None,X,261,None,None,X,261,None,None,X,261,None,None,X,267,None,None,X,278,None,None,X,272,None,None,X,278,None,None,X,278,None,None,X,283,None,None,X,272,None,None,X,272,None,None,X,267,None,None,X,267,None,None,X,267,None,None,X,267,None,None,X,272,None,None,X,-9999,None,None,None,-9999,None,None,None,-9999,None,None,None
2,2,ACW00011604,1949,3,TMAX,272,None,None,X,289,None,None,X,278,None,None,X,278,None,None,X,278,None,None,X,278,None,None,X,289,None,None,X,294,None,None,X,294,None,None,X,272,None,None,X,272,None,None,X,278,None,None,X,283,None,None,X,278,None,None,X,283,None,None,X,283,None,None,X,283,None,None,X,289,None,None,X,283,None,None,X,272,None,None,X,278,None,None,X,272,None,None,X,278,None,None,X,278,None,None,X,261,None,None,X,261,None,None,X,267,None,None,X,267,None,None,X,283,None,None,X,278,None,None,X,267,None,None,X
3,3,ACW00011604,1949,4,TMAX,278,None,None,X,283,None,None,X,283,None,None,X,294,None,None,X,283,None,None,X,283,None,None,X,278,None,None,X,283,None,None,X,283,None,None,X,289,None,None,X,283,None,None,X,289,None,None,X,289,None,None,X,289,None,None,X,294,None,None,X,289,None,None,X,289,None,None,X,294,None,None,X,289,None,None,X,289,None,None,X,289,None,None,X,289,None,None,X,289,None,None,X,289,None,None,X,306,None,None,X,294,None,None,X,272,None,None,X,278,None,None,X,289,None,None,X,289,None,None,X,-9999,None,None,None
4,4,ACW00011604,1949,5,TMAX,283,None,None,X,283,None,None,X,278,None,None,X,272,None,None,X,278,None,None,X,283,None,None,X,278,None,None,X,294,None,None,X,294,None,None,X,294,None,None,X,289,None,None,X,294,None,None,X,294,None,None,X,294,None,None,X,289,None,None,X,294,None,None,X,294,None,None,X,294,None,None,X,294,None,None,X,294,None,None,X,294,None,None,X,294,None,None,X,289,None,None,X,294,None,None,X,300,None,None,X,300,None,None,X,300,None,None,X,300,None,None,X,300,None,None,X,294,None,None,X,300,None,None,X

In [20]:
print(type(ghcnd))
print(ghcnd.info)

<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.info of      index           id  year  month element  value1 mflag1 qflag1 sflag1  \
0        0  ACW00011604  1949      1    TMAX     289   None   None      X
1        1  ACW00011604  1949      2    TMAX     267   None   None      X
2        2  ACW00011604  1949      3    TMAX     272   None   None      X
3        3  ACW00011604  1949      4    TMAX     278   None   None      X
4        4  ACW00011604  1949      5    TMAX     283   None   None      X
..     ...          ...   ...    ...     ...     ...    ...    ...    ...
195    195  AE000041196  1981      9    TMAX   -9999   None   None   None
196    196  AE000041196  1981     10    TMAX   -9999   None   None   None
197    197  AE000041196  1981     11    TMAX     330   None   None      I
198    198  AE000041196  1981     12    TMAX     270   None   None      I
199    199  AE000041196  1982      1    TMAX     245   None   None      I

     value2  ... qflag29 sflag29 value30  mflag30 qflag30 sflag30 value31  \
0       289  ...    None       X     272     None    None       X     272
1       278  ...    None    None   -9999     None    None    None   -9999
2       289  ...    None       X     278     None    None       X     267
3       283  ...    None       X     289     None    None       X   -9999
4       283  ...    None       X     294     None    None       X     300
..      ...  ...     ...     ...     ...      ...     ...     ...     ...
195   -9999  ...    None    None     390     None    None       I   -9999
196     350  ...    None    None     340     None    None       I     330
197     310  ...    None    None     290     None    None       I   -9999
198     290  ...    None       I   -9999     None    None    None     290
199     230  ...    None       I   -9999     None    None    None   -9999

     mflag31 qflag31 sflag31
0       None    None       X
1       None    None    None
2       None    None       X
3       None    None    None
4       None    None       X
..       ...     ...     ...
195     None    None    None
196     None    None       I
197     None    None    None
198     None    None       I
199     None    None    None

[200 rows x 129 columns]>

### Para selecionar todos os registos dos campos id, year, month, element, value1, value2, value3, value4, value5, value6, value7, value8, value9, value10, value11, value12, value13, value14, value15, value16, value17, value18, value19, value20, value21, value22, value23, value24, value25, value26, value27, value28, value29, value30, value31 das cinco estações meteorológicas portuguesas (Horta; Funchal; Lisboa; Castelo Branco e Faro) que existem no dataset, corremos a seguinte query:

In [52]:
conn = sql.connect(patch + "ghcnd_daily.db")
ghcnd = pd.read_sql('select id, year, month, element, value1, value2, value3, value4, value5, value6, value7, value8, value9, value10,value11, value12, value13, value14, value15, value16, value17, value18, value19, value20, value21, value22, value23, value24, value25, value26, value27, value28, value29, value30, value31 from ghcnd WHERE id IN ("PO000008506","PO000008522","PO000008535","POM00008570","POM00008554")',conn)
ghcnd
conn.close()

### Substitua os ids presentes no dataframe pelo correspondente nome da estação meteorológica.

In [8]:
ghcnd['id'] = ghcnd['id'].astype(str)
ghcnd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2642 entries, 0 to 2641
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2642 non-null   object
 1   year     2642 non-null   int64
 2   month    2642 non-null   int64
 3   element  2642 non-null   object
 4   value1   2642 non-null   int64
 5   value2   2642 non-null   int64
 6   value3   2642 non-null   int64
 7   value4   2642 non-null   int64
 8   value5   2642 non-null   int64
 9   value6   2642 non-null   int64
 10  value7   2642 non-null   int64
 11  value8   2642 non-null   int64
 12  value9   2642 non-null   int64
 13  value10  2642 non-null   int64
 14  value11  2642 non-null   int64
 15  value12  2642 non-null   int64
 16  value13  2642 non-null   int64
 17  value14  2642 non-null   int64
 18  value15  2642 non-null   int64
 19  value16  2642 non-null   int64
 20  value17  2642 non-null   int64
 21  value18  2642 non-null   int64
 22  value19  2642 non-null   int64
 23  value20  2642 non-null   int64
 24  value21  2642 non-null   int64
 25  value22  2642 non-null   int64
 26  value23  2642 non-null   int64
 27  value24  2642 non-null   int64
 28  value25  2642 non-null   int64
 29  value26  2642 non-null   int64
 30  value27  2642 non-null   int64
 31  value28  2642 non-null   int64
 32  value29  2642 non-null   int64
 33  value30  2642 non-null   int64
 34  value31  2642 non-null   int64
dtypes: int64(33), object(2)
memory usage: 722.5+ KB

PO000008506  38.5200  -28.6300   62.0    HORTA (AZORES)                 GSN     08506
PO000008522  32.6300  -16.8997   25.0    FUNCHAL                        GSN     08522
PO000008535  38.7167   -9.1500   77.0    LISBOA GEOFISICA               GSN     08535
POM00008570  39.8330   -7.4830  384.0    CASTELO BRANCO                         08570
POM00008554  37.0140   -7.9660    7.3    FARO                                   08554

In [25]:
conn = sql.connect(patch + "ghcnd_daily.db")
print('Connected to database successfully.')
 
con = conn.cursor()
 
con.execute('UPDATE ghcnd SET id="Horta" WHERE id="PO000008506"')
con.execute('UPDATE ghcnd SET id="Funchal" WHERE id="PO000008522"')
con.execute('UPDATE ghcnd SET id="Lisboa" WHERE id="PO000008535"')
con.execute('UPDATE ghcnd SET id="Castelo Branco" WHERE id="PO000008570"')
con.execute('UPDATE ghcnd SET id="Faro" WHERE id="PO000008554"')

print('Records updated successfully.')
 
conn.commit()
conn.close()

Connected to database successfully.
Records updated successfully.

In [57]:
# A fim de verificar se foi efetivamente atualizado
conn = sql.connect("global_climate_data/ghcnd_daily.db")
ghcnd = pd.read_sql('SELECT id, year, month, element, value1, value2, value3, value4, value5, value6, value7, value8, value9, value10,value11, value12, value13, value14, value15, value16, value17, value18, value19, value20, value21, value22, value23, value24, value25, value26, value27, value28, value29, value30, value31 FROM ghcnd where (id="Horta" OR id="Funchal" OR id="Lisboa" OR id="Castelo Branco" OR id="Faro")',conn)
conn.close()

ghcnd

,id,year,month,element,value1,value2,value3,value4,value5,value6,value7,value8,value9,value10,value11,value12,value13,value14,value15,value16,value17,value18,value19,value20,value21,value22,value23,value24,value25,value26,value27,value28,value29,value30,value31
0,Horta,1973,1,TMAX,-9999,110,-9999,170,160,160,-9999,-9999,-9999,160,170,140,-9999,-9999,180,140,-9999,-9999,150,-9999,170,-9999,-9999,-9999,130,-9999,-9999,-9999,-9999,180,-9999
1,Horta,1973,2,TMAX,170,160,120,110,130,-9999,-9999,160,150,-9999,-9999,-9999,150,170,-9999,170,170,180,-9999,150,-9999,-9999,150,-9999,170,180,170,170,-9999,-9999,-9999
2,Horta,1973,3,TMAX,-9999,150,160,-9999,160,-9999,160,140,130,120,-9999,140,150,160,170,150,160,160,160,190,160,-9999,-9999,160,170,170,180,-9999,-9999,-9999,180
3,Horta,1973,4,TMAX,180,170,-9999,190,170,-9999,190,-9999,160,-9999,180,180,-9999,150,-9999,160,-9999,150,180,170,170,-9999,160,170,-9999,-9999,170,170,180,180,-9999
4,Horta,1973,5,TMAX,140,-9999,-9999,150,-9999,190,190,-9999,-9999,190,-9999,180,-9999,180,190,190,170,190,170,160,-9999,180,-9999,190,-9999,190,180,190,-9999,210,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843,Lisboa,2018,7,TMAX,-9999,243,-9999,257,261,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1844,Lisboa,2018,8,TMAX,-9999,395,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1845,Lisboa,2018,9,TMAX,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,295,-9999,-9999,-9999,-9999,298,-9999,-9999,-9999,-9999,-9999,-9999,-9999,286,-9999,-9999
1846,Lisboa,2018,10,TMAX,-9999,307,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,226,-9999,-9999,234,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1847,Lisboa,2019,3,TMAX,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,165,-9999,-9999,-9999,-9999,-9999,-9999,-9999,202,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

### Aplique as funções de data wrangling e de compression dos dados que achar adequadas.

In [58]:
ghcnd.memory_usage()

Index        128
id         14784
year       14784
month      14784
element    14784
value1     14784
value2     14784
value3     14784
value4     14784
value5     14784
value6     14784
value7     14784
value8     14784
value9     14784
value10    14784
value11    14784
value12    14784
value13    14784
value14    14784
value15    14784
value16    14784
value17    14784
value18    14784
value19    14784
value20    14784
value21    14784
value22    14784
value23    14784
value24    14784
value25    14784
value26    14784
value27    14784
value28    14784
value29    14784
value30    14784
value31    14784
dtype: int64

In [59]:
# Para visualizar todas as colunas
pd.set_option('display.max_columns', None)
ghcnd.head(30)

,id,year,month,element,value1,value2,value3,value4,value5,value6,value7,value8,value9,value10,value11,value12,value13,value14,value15,value16,value17,value18,value19,value20,value21,value22,value23,value24,value25,value26,value27,value28,value29,value30,value31
0,Horta,1973,1,TMAX,-9999,110,-9999,170,160,160,-9999,-9999,-9999,160,170,140,-9999,-9999,180,140,-9999,-9999,150,-9999,170,-9999,-9999,-9999,130,-9999,-9999,-9999,-9999,180,-9999
1,Horta,1973,2,TMAX,170,160,120,110,130,-9999,-9999,160,150,-9999,-9999,-9999,150,170,-9999,170,170,180,-9999,150,-9999,-9999,150,-9999,170,180,170,170,-9999,-9999,-9999
2,Horta,1973,3,TMAX,-9999,150,160,-9999,160,-9999,160,140,130,120,-9999,140,150,160,170,150,160,160,160,190,160,-9999,-9999,160,170,170,180,-9999,-9999,-9999,180
3,Horta,1973,4,TMAX,180,170,-9999,190,170,-9999,190,-9999,160,-9999,180,180,-9999,150,-9999,160,-9999,150,180,170,170,-9999,160,170,-9999,-9999,170,170,180,180,-9999
4,Horta,1973,5,TMAX,140,-9999,-9999,150,-9999,190,190,-9999,-9999,190,-9999,180,-9999,180,190,190,170,190,170,160,-9999,180,-9999,190,-9999,190,180,190,-9999,210,-9999
5,Horta,1973,6,TMAX,-9999,-9999,-9999,200,200,190,200,220,-9999,200,-9999,220,200,200,210,-9999,320,-9999,-9999,-9999,230,-9999,200,210,240,210,230,230,-9999,210,-9999
6,Horta,1973,7,TMAX,210,-9999,230,220,240,250,240,250,210,240,220,210,220,240,-9999,220,210,210,-9999,240,220,250,-9999,250,-9999,270,240,330,250,240,220
7,Horta,1973,8,TMAX,220,230,230,250,-9999,240,250,250,250,240,-9999,-9999,260,-9999,-9999,-9999,250,-9999,250,260,250,280,260,240,240,-9999,-9999,270,-9999,-9999,270
8,Horta,1973,9,TMAX,-9999,260,340,230,240,250,-9999,-9999,-9999,230,-9999,240,220,210,-9999,-9999,-9999,-9999,220,210,240,230,250,250,260,260,-9999,250,250,250,-9999
9,Horta,1973,10,TMAX,-9999,220,230,210,230,-9999,-9999,240,230,230,-9999,-9999,-9999,220,210,-9999,200,220,210,-9999,-9999,-9999,230,220,-9999,-9999,170,170,170,-9999,170
10,Horta,1973,11,TMAX,-9999,-9999,-9999,190,200,-9999,-9999,210,210,-9999,210,-9999,180,-9999,-9999,200,200,190,200,170,-9999,190,-9999,-9999,-9999,-9999,200,210,190,-9999,-9999
11,Horta,1973,12,TMAX,-9999,-9999,210,200,-9999,220,-9999,-9999,190,-9999,-9999,190,-9999,200,200,-9999,-9999,190,150,-9999,260,150,-9999,-9999,180,-9999,180,180,-9999,-9999,160
12,Horta,1974,1,TMAX,160,170,180,150,-9999,170,180,-9999,-9999,170,-9999,140,170,180,-9999,-9999,160,180,180,-9999,-9999,-9999,-9999,-9999,160,160,170,-9999,160,-9999,-9999
13,Horta,1974,2,TMAX,130,-9999,160,-9999,180,-9999,-9999,-9999,170,-9999,-9999,-9999,180,-9999,-9999,-9999,-9999,-9999,180,150,170,-9999,170,180,180,150,-9999,-9999,-9999,-9999,-9999
14,Horta,1974,3,TMAX,170,190,170,160,110,130,170,160,-9999,160,-9999,170,180,170,-9999,-9999,150,140,-9999,-9999,170,160,120,-9999,110,-9999,-9999,160,-9999,160,140
15,Horta,1974,4,TMAX,130,160,-9999,230,160,150,150,-9999,160,150,150,180,230,150,-9999,150,190,170,-9999,180,-9999,170,180,240,-9999,170,170,160,190,190,-9999
16,Horta,1974,5,TMAX,190,-9999,-9999,-9999,200,200,210,190,-9999,180,170,-9999,180,-9999,170,180,180,-9999,190,210,-9999,210,200,200,-9999,170,170,-9999,200,220,200
17,Horta,1974,6,TMAX,200,220,-9999,-9999,-9999,220,230,250,240,210,-9999,230,-9999,-9999,180,190,200,220,200,170,190,-9999,210,-9999,-9999,220,-9999,200,190,190,-9999
18,Horta,1974,7,TMAX,-9999,-9999,220,220,220,210,210,220,-9999,240,260,-9999,210,230,-9999,220,-9999,-9999,240,-9999,-9999,-9999,220,220,210,220,240,-9999,-9999,-9999,-9999
19,Horta,1974,8,TMAX,210,240,230,230,240,250,-9999,-9999,250,260,260,240,230,-9999,210,220,240,-9999,-9999,-9999,250,240,250,-9999,-9999,240,240,220,-9999,250,230
20,Horta,1974,9,TMAX,250,-9999,250,250,270,230,-9999,200,220,-9999,200,-9999,220,240,-9999,-9999,-9999,230,-9999,230,220,220,220,-9999,230,220,-9999,-9999,240,-9999,-9999
21,Horta,1974,10,TMAX,220,230,200,200,-9999,-9999,230,230,230,-9999,230,-9999,210,-9999,210,210,-9999,240,230,220,210,210,210,200,190,-9999,200,220,210,200,220
22,Horta,1974,11,TMAX,-9999,180,200,210,210,-9999,220,220,210,270,210,200,200,-9999,-9999,160,170,190,190,200,180,-9999,190,190,-9999,190,190,-9999,210,200,-9999
23,Horta,1974,12,TMAX,200,190,-9999,-9999,200,300,200,180,150,160,160,180,170,-9999,-9999,170,180,180,-9999,180,180,-9999,-9999,190,-9999,190,-9999,-9999,190,180,-9999
24,Horta,1975,1,TMAX,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,160,160,150,160,-9999,170,170,170,-9999,-9999,-9999,160,150,-9999
25,Horta,1975,2,TMAX,-9999,-9999,160,140,160,110,120,170,160,150,160,-9999,-9999,170,180,170,150,140,-9999,-9999,170,-9999,170,140,-9999,130,150,-9999,-9999,-9999,-9999
26,Horta,1975,3,TMAX,160,150,150,-9999,170,180,170,150,180,-9999,180,180,160,180,170,130,150,170,180,170,-9999,170,170,-9999,-9999,180,150,160,170,170,150
27,Horta,1975,4,TMAX,-9999,300,180,170,-9999,170,170,160,160,270,170,160,170,180,180,180,170,160,160,180,180,180,190,190,180,180,170,180,180,170,-9999
28,Horta,1975,5,TMAX,190,180,-9999,200,-9999,180,170,190,180,-9999,190,-9999,190,200,190,-9999,190,-9999,200,-9999,200,210,190,200,-9999,-9999,200,200,190,200,-9999
29,Horta,1975,6,TMAX,210,210,-9999,-9999,200,210,-9999,190,200,210,210,210,240,240,220,-9999,220,220,220,210,230,250,-9999,220,220,230,240,-9999,230,210,-9999

In [60]:
ghcnd.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       1848 non-null   object
 1   year     1848 non-null   int64
 2   month    1848 non-null   int64
 3   element  1848 non-null   object
 4   value1   1848 non-null   int64
 5   value2   1848 non-null   int64
 6   value3   1848 non-null   int64
 7   value4   1848 non-null   int64
 8   value5   1848 non-null   int64
 9   value6   1848 non-null   int64
 10  value7   1848 non-null   int64
 11  value8   1848 non-null   int64
 12  value9   1848 non-null   int64
 13  value10  1848 non-null   int64
 14  value11  1848 non-null   int64
 15  value12  1848 non-null   int64
 16  value13  1848 non-null   int64
 17  value14  1848 non-null   int64
 18  value15  1848 non-null   int64
 19  value16  1848 non-null   int64
 20  value17  1848 non-null   int64
 21  value18  1848 non-null   int64
 22  value19  1848 non-null   int64
 23  value20  1848 non-null   int64
 24  value21  1848 non-null   int64
 25  value22  1848 non-null   int64
 26  value23  1848 non-null   int64
 27  value24  1848 non-null   int64
 28  value25  1848 non-null   int64
 29  value26  1848 non-null   int64
 30  value27  1848 non-null   int64
 31  value28  1848 non-null   int64
 32  value29  1848 non-null   int64
 33  value30  1848 non-null   int64
 34  value31  1848 non-null   int64
dtypes: int64(33), object(2)
memory usage: 505.4+ KB

In [61]:
conn = sql.connect(patch + "ghcnd_daily.db")
print('Conexão com a BD com sucesso.')

cursor = conn.cursor()

# Execute um comando SQL para alterar o tipo de dados das colunas
command = "ALTER TABLE ghcnd"
command += "ALTER COLUMN year int16,"
command += "ALTER COLUMN month int8,"
command += "ALTER COLUMN value1 int16,"
command += "ALTER COLUMN value2 int16,"
command += "ALTER COLUMN value3 int16,"
command += "ALTER COLUMN value4 int16"
cursor.execute(command)

print('Registos alterados com sucesso.')

# Gravar as alterações na BD
conn.commit()

# Fechar cursor e a conexão com a BD
cursor.close()
conn.close()

Conexão com a BD com sucesso.

OperationalError: near "COLUMN": syntax error

### Determine a percentagem de null values em cada uma das variáveis.

In [44]:
conn = sql.connect(patch + "ghcnd_daily.db")
ghcnd = pd.read_sql('select COUNT(*) FROM ghcnd WHERE MAX(id, year, month, element, value1, value2, value3, value4, value5, value6, value7, value8, value9, value10,value11, value12, value13, value14, value15, value16, value17, value18, value19, value20, value21, value22, value23, value24, value25, value26, value27, value28, value29, value30, value31) ='-9999' ',conn)
ghcnd
conn.close()

SyntaxError: invalid syntax (3784444748.py, line 2)

In [ ]:
conn = sql.connect(patch + "ghcnd_daily.db")
print('Conexão com a BD com sucesso.')

ghcnd = pd.read_sql('select * FROM ghcnd',conn)
ghcnd
conn.close()

Conexão com a BD com sucesso.

### Crie uma nova coluna denominada count_nan que registe para cada observação o número de dias com temperaturas máximas nulas (NaN).

### Crie um novo dataframe que considere apenas os registos com um valor total de NaN inferior a 7.

### Reccorra agora a chunking para determinar a percentagem de null values em cada uma das variáveis na totalidade dos registos do dataframe.

### Determine a temperatura média para cada observação (estação/ano/mês) do dataframe. Guarde os valores obtidos numa nova coluna denominada daily_avg_temp. Não se esqueça de considerar apenas as colunas cujo nome começa por value.

### Agrupe os dados por nome de estação e ano aplicando a função mean. Mostre apenas os resultados para a coluna daily_avg_temp.

In [ ]:
chunk_size=500000
chunk_no=0
column_names = ["VendorID", "tpep_pickup_datetime", "tpep_dropoff_datetime", "passenger_count", "trip_distance", "payment_type", "fare_amount", "tip_amount", "tolls_amount", "total_amount"]

dict_temp = {}

for chunk_df in pd.read_csv('G:\O meu disco\data\BigData\yellow_tripdata_2016-03.csv',chunksize=chunk_size,
                    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                    usecols=column_names,
                    dtype={"VendorID":"int16", "passenger_count": "int8", "trip_distance":"float32", "payment_type":"int8",  "fare_amount":"float32","tip_amount":"float32","tolls_amount":"float32","total_amount":"float32"}):
    
    chunk_result = chunk_df.groupby('VendorID').mean()['trip_distance']
    ListOfIndexes = chunk_result.index
    ListOfValues = chunk_result.values
    
    for i in range(len(ListOfIndexes)):
        dict_temp[ListOfIndexes[i]] = dict_temp.get(ListOfIndexes[i],0) + ListOfValues[i]
        
    print(f"chunk number = {chunk_no}")
    chunk_no+=1

In [ ]:
chunk_Df